*{
  margin: 0%;
  padding: 0%;
  box-sizing:border-box;
}

.banner-card{
  background-color: white;
  width:100vw;
}
.banner-img{
  height:70vh;
  width:100%;
}

.banner-title{
  color:rgb(228, 18, 18);
  position:absolute;
  top:55vh;
  left:5vw;
}

.banner-text{
  color:rgb(66, 6, 6);
  position:absolute;
  top:60vh;
  left:5vw;
}

img{
  width: 100vw;
  height: 80vh;
}

.banner-body{
  position:absolute;
  top: 76%;
  padding: 0 5rem;
  color: white;
}

.movies-list{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;

}

.movie-card{
  width:20vw;
  margin:1rem;
}

.movie-img{
  height: 40vh;
  width:100%;

}
.movie-title{
  position:absolute;
  top: 1rem;
  left:0.5rem;
  color:white
}

.movie-button{
  position: absolute;
  top:85%;
}

.button-wrapper, .trending{
  display: flex;
  justify-content: center;
}

.pagination{
  display: flex;
  justify-content: center;
}